.error-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: #0f172a;
}

.error-card {
  background: #1e293b;
  padding: 40px 50px;
  border-radius: 20px;
  width: 480px;

  text-align: center;
  color: #f1f5f9;

  box-shadow: 
    0 20px 40px rgba(0, 0, 0, 0.4),
    0 0 30px rgba(0, 0, 0, 0.3);
  animation: fadeUp 0.35s ease-out;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.error-card h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.error-main {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #f87171; /* đỏ nhẹ */
}

.error-status,
.error-from {
  font-size: 15px;
  margin-bottom: 4px;
  opacity: 0.8;
  color: white;
}

.error-status span,
.error-from span {
  color: red;
}

.error-actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.error-actions button {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;

  background: #334155;
  color: #f8fafc;
  transition: 0.25s ease;
}

.error-actions button:hover {
  background: #475569;
  transform: translateY(-2px);
}

.error-actions button:active {
  transform: translateY(0px);
  background: #1e293b;
}
